body {
    background-color: black;
    color: white;
  }

  a {
    color: white;
  }

ul {
  width: 65%;
  margin-bottom: 5%;
}


li ul {
  background-color: blue;
  color: black;
  font-size: 16px;
  margin-bottom: 5%;
  border: 1px solid black;
}

ul li {
  margin-bottom: 3%;
}

footer {
  background-color: yellow;
  color: black;
  padding-bottom: 5%;
}